html, body {
    height: 100%;
    display: flex;
}

html {
    background-image: url(../../L02_Event/bg_tupf.png);

}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin-top: 50px;
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formular {
    left: 200px;
    top: 80px;
    position: absolute;
    width: 900px;
    height: 600px;
    background-color: rgb(115, 115, 117);
    border-radius: 5px;
    border: 3px solid black;
    text-align: left;
}

#start_bttn {
    background-color: pink;
    width: 200px;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
}
#leicht:hover {
    transform: scale(1.05);
}


.chartWrapper {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 100px;
    background: rgba(255, 255, 255, 0.5);
}
.chartWrapper .chartCOM {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0%;
    background: rgb(90, 4, 105);
    transition: 1s;
}

.chartWrapper .chartSpieler {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0%;
    background: rgb(90, 4, 105);
    transition: 1s;
}

.karte {
    width: 100px;
    height: 100px;
    margin-top: 50px;
    margin-inline-start: 15px;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    background-image: url(/Aufgabe_5/images/Karte_bg.png);
}
.karte:hover {
    transform: scale(1.05);
    transition: 0.25s;
}

.is-hidden {
    display: none;
}



.rot {
    background-image: url(/Aufgabe_5/images/rot.png);
}

.hellgrün {
    background-image: url(/Aufgabe_5/images/hellgrün.png);
}

.dunkelgrün {
    background-image: url(/Aufgabe_5/images/dunkelgrün.png);
}

.hellblau {
    background-image: url(/Aufgabe_5/images/hellblau.png);
}

.dunkelblau {
    background-image: url(/Aufgabe_5/images/dunkelblau.png);
}

.orange {
    background-image: url(/Aufgabe_5/images/orange.png);
}

.braun {
    background-image: url(/Aufgabe_5/images/braun.png);
}

.gelb {
    background-image: url(/Aufgabe_5/images/gelb.png);
}

.rosa {
    background-image: url(/Aufgabe_5/images/rosa.png);
}

.lila {
    background-image: url(/Aufgabe_5/images/lila.png);
}


.zebra {
    background-image: url(/Aufgabe_5/images/Zebra.png);
}
.kreis {
    background-image: url(/Aufgabe_5/images/Kreis.png);
}
.pfeil_unten {
    background-image: url(/Aufgabe_5/images/pfeil_unten.png);
}


.css_defi_Teil1 {
    background-image: url(/Aufgabe_5/images/css_defi_Teil1.png);
}
.css_defi_Teil2 {
    background-image: url(/Aufgabe_5/images/EIA_Css2.png);
}

.html_Teil1 {
    background-image: url(/Aufgabe_5/images/html_Teil1.png);
}
.html_Teil2 {
    background-image: url(/Aufgabe_5/images/html_Teil2.png);
}

.js1_T1 {
    background-image: url(/Aufgabe_5/images/js1_T1.jpg);
}
.js1_t2 {
    background-image: url(/Aufgabe_5/images/js1_t2.png);
}
.js2_t1 {
    background-image: url(/Aufgabe_5/images/js2_t1.png);
}
.js2_t2 {
    background-image: url(/Aufgabe_5/images/js2_t2.png);
}
.js3_t1 {
    background-image: url(/Aufgabe_5/images/js3_t1.png);
}
.js3_t2 {
    background-image: url(/Aufgabe_5/images/js3_t2.png);
}
.js4_t1 {
    background-image: url(/Aufgabe_5/images/js4_t1.png);
}
.js4_t2 {
    background-image: url(/Aufgabe_5/images/js4_t2.png);
}

.blank {
    background-image: url(/Aufgabe_5/images/Karte_bg.png) !important;
}

.sieger {
    left: 400px;
    top: 110px;
    position: fixed;
    width: 700px;
    height: 200px;
    background-color: rgb(174, 0, 255);
    border-radius: 5px;
    border: 3px solid black;
    text-align: center;
}

.sieger_text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin-top: 50px;
    font-style: italic;
}

#refresh_bttn {
    width: 200px;
    height: 50px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
}