html, body {
    height: 100%;
    display: flex;
}

html {
    background-image: url(../../L02_Event/bg_tupf.png);

}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin-top: 50px;
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formular {
    left: 200px;
    top: 80px;
    position: absolute;
    width: 900px;
    height: 600px;
    background-color: rgb(115, 115, 117);
    border-radius: 5px;
    border: 3px solid black;
    text-align: left;
}

#start_bttn {
    background-color: pink;
    width: 200px;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 40%;
}
#start_bttn:hover {
    transform: scale(1.05);
}

#Arial {
    font-family: Arial, Helvetica, sans-serif;
}

#LucidaSans {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#TimesNewRoman {
    font-family: 'Times New Roman', Times, serif;
}

.karte:hover {
    transform: scale(1.05);
    transition: 0.25s;
}

.is-hidden {
    display: none;
}

.hidden{
	background-color: black;
	cursor: pointer;
}

.hidden p{
	display: none;
}

.open{
	background-color: rgb(231, 236, 234);
}

.done{
	visibility: hidden;
}

.done p{
	display: none;
}

.victory {
    left: 400px;
    top: 110px;
    position: fixed;
    width: 700px;
    height: 200px;
    background-color: rgb(174, 0, 255);
    border-radius: 5px;
    border: 3px solid black;
    text-align: center;
}

.victory_text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin-top: 50px;
    font-style: italic;
}

#refresh_bttn {
    width: 200px;
    height: 50px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
}