html, body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

html {
    background-image: url(bg_tupf.png);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
h1 {
    position: fixed;
    top: 20px;
    left: 20px;
}

.symbol {
    font-size: 80px;
}

#div0 {
    background: rgb(124, 45, 112);
    border-radius: 5px;
    border: 3px solid black;
    width: 400px;
    height: 500px;
    margin: 5px;
}

#div1 {
    background: rgb(64, 55, 112);
    border-radius: 5px;
    border: 3px solid black;
    width: 400px;
    height: 500px;
    margin: 5px;
}

#span {
    position: fixed;
    background: rgb(94, 50, 112);
    border-radius: 5px;
    border: 3px solid black;
    color: rgb(184, 184, 184);
}